:root {
    --cor-rosa: #EDCEE2;            /* Rosa claro      */
    --cor-rosa-010: #E8BFD9;        /* Rosa escurinho  */
    --cor-rosa-gradient: #DE5EC5;   /* Rosa escuro     */

    --cor-cinza: #A7A6A6;           /* Cinza claro     */
    --cor-cinza-010: #828282;        /* Cinza escuro    */

    --cor-branco: #FFFFFF;          /* Branco claro    */
    --cor-branco-010: #E8E8E8;      /* Branco escuro   */

    --cor-preto: #141618;           /* Preto fraco     */
    --cor-preto-010: #000000;       /* Preto escuro    */

   
    --cor-info: #16ABA6;            /* Cinza ciano     */
    --cor-sucesso: #48BC4E;         /* Verde claro     */
    --cor-erro: #B3190E;            /* Vermelho claro  */
    --cor-aviso: #FF8F00;           /* Laranja         */
    --cor-info-010: #0D948F;        /* Cinza ciano     */
    --cor-sucesso-010: #37953C;     /* Verde escuro    */
    --cor-erro-010: #9E1F23;        /* Vermelho escuro */
    --cor-aviso-010: #CC7200;       /* Laranja escuro  */

    --cor-texto: #FFFFFF;           /* Preto fraco     */
    --cor-texto-claro: #6C757D;     /* Cinza médio     */    
    --cor-texto-claro-010: #404245; /* Cinza escuro    */

    --cor-fundo-pagina: #2C3E50;    /* Rosa bem claro  */
}